---
import Layout from "../../layouts/Layout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Projects from "~/components/widgets/Projects.astro";
import SkillReveal from "~/components/common/Skills/SkillReveal";
import Contact from "~/components/widgets/Contact.astro";
import { PinnedIntroduction } from "~/components/common/PinnedIntroduction";
import { getLangFromUrl } from "~/i18n/utils";
import Header from "~/components/widgets/Header.astro";

const lang = getLangFromUrl(Astro.url);

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "cn" } }];
}
import { headerData } from "~/navigation";
---

<Layout>
  <div class=""></div>
  <slot name="header">
    <Header {...headerData} isSticky showToggleTheme />
  </slot>
  <div class="w-full flex justify-center">
    <div class="max-w-5xl mt-10 border border-gray-700">
      <Hero />
      <PinnedIntroduction client:only="react" lang={lang} />
      <SkillReveal client:only="react" lang={lang} />
      <Projects />
      <Contact />
    </div>
  </div>
</Layout>
