---
import { Image } from "astro:assets";
import heroImage from "~/assets/images/hero-3.gif";
---

<section
  class="relative flex flex-col-reverse lg:flex-row items-center justify-between h-screen px-4 md:px-6 lg:px-20 bg-page"
>
  <!-- Left Section: Text Content -->
  <div class="w-full lg:w-1/2 relative z-10 space-y-6">
    <p class="text-xl text-primary font-medium">Hello</p>
    <h1
      class="text-5xl md:text-6xl font-heading font-bold leading-tight text-heading"
    >
      I'm Sami Kuikka
    </h1>
    <p class="text-lg text-muted max-w-md">
      Passionate full stack software engineer from Finland...
    </p>
    <div class="flex flex-wrap gap-4 mt-6">
      <a
        href="#contact"
        class="inline-flex h-12 animate-shimmer items-center justify-center rounded-md border border-slate-800 bg-[linear-gradient(110deg,#000103,45%,#1e2631,55%,#000103)] bg-[length:200%_100%] px-6 font-medium text-slate-400 transition-colors focus:outline-none focus:ring-2 focus:ring-slate-400 focus:ring-offset-2 focus:ring-offset-slate-50"
      >
        Contact me
      </a>
      <a
        href="https://github.com/samikuikka"
        target="_blank"
        class="h-12 px-4 py-2 bg-black text-white shadow border border-slate-800 hover:bg-gray-800 inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-gray-300 disabled:pointer-events-none disabled:opacity-50"
      >
        <!-- GitHub Logo (SVG) -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-5 h-5 fill-current"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.387.6.113.82-.262.82-.583 0-.288-.01-1.052-.015-2.065-3.338.726-4.042-1.61-4.042-1.61-.546-1.387-1.333-1.757-1.333-1.757-1.09-.745.082-.73.082-.73 1.205.085 1.84 1.236 1.84 1.236 1.07 1.833 2.807 1.304 3.492.997.108-.776.42-1.304.762-1.604-2.665-.304-5.467-1.332-5.467-5.93 0-1.31.47-2.382 1.236-3.222-.124-.303-.536-1.524.117-3.176 0 0 1.008-.322 3.3 1.23.957-.266 1.98-.399 3-.405 1.02.006 2.043.139 3 .405 2.29-1.552 3.296-1.23 3.296-1.23.655 1.653.243 2.874.12 3.176.77.84 1.235 1.912 1.235 3.222 0 4.61-2.807 5.624-5.48 5.92.43.372.81 1.102.81 2.222 0 1.606-.015 2.902-.015 3.293 0 .324.216.697.825.58C20.565 21.796 24 17.3 24 12c0-6.63-5.37-12-12-12z"
          ></path>
        </svg>

        GitHub
      </a>
    </div>
  </div>

  <div class="w-full lg:w-1/2 mb-8 lg:mb-0 flex justify-center z-10 relative">
    <Image
      src={heroImage}
      alt="Sami Kuikka"
      class="max-w-full h-auto object-contain"
      width={600}
      height={600}
    />
  </div>
</section>
