---

---

<section class="w-full py-12 px-4 md:px-6 lg:px-20">
  <div
    class="w-full flex flex-col md:flex-row intersect-once intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
  >
    <div class="w-full bg-red-400">
      <div class="mb-8 md:mb-12 md:mx-auto text-center max-w-3xl">About me</div>
    </div>
    <div class="w-full">
      <div class="mb-8 md:mb-12 md:mx-auto text-center max-w-3xl">
        <h2
          class="font-bold font-heading leading-tighter tracking-tighter text-heading md:text-4xl text-3xl"
        >
          About me
        </h2>
      </div>
      <p class="leading-tighter text-xl font-sans mx-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet
        eros fermentum, accumsan est et, pharetra nulla. Aliquam eget sem ante.
        Sed in libero fringilla, vestibulum sem ut, lacinia diam. Aliquam non
        accumsan turpis. In nunc tortor, tristique a felis a, egestas eleifend
        ipsum. Pellentesque mattis condimentum leo vitae pulvinar. Duis
        sollicitudin nulla eg
      </p>
    </div>
  </div>
</section>
