---
import { Image } from "astro:assets";
import profilePic from "../../assets/images/profile-pic.png";
---

<section class="w-full py-12 px-4 md:px-6 lg:px-20">
  <div
    class="w-full flex flex-col md:flex-row items-center motion-safe:opacity-0 motion-safe:intersect:animate-fade"
  >
    <div class="w-full md:w-1/3 flex justify-center mb-8 md:mb-0">
      <Image
        src={profilePic}
        width={300}
        height={300}
        alt="Your Name"
        class="rounded-full border-4 border-white shadow-lg max-w-xs md:max-w-sm"
      />
    </div>

    <div class="w-full md:w-2/3 md:pl-12">
      <div class="mb-6 text-center md:text-left">
        <h2
          class="font-bold font-heading leading-tighter tracking-tighter text-heading md:text-4xl text-3xl"
        >
          About Me
        </h2>
      </div>
      <p class="leading-tighter text-xl font-sans">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet
        eros fermentum, accumsan est et, pharetra nulla. Aliquam eget sem ante.
        Sed in libero fringilla, vestibulum sem ut, lacinia diam. Aliquam non
        accumsan turpis. In nunc tortor, tristique a felis a, egestas eleifend
        ipsum. Pellentesque mattis condimentum leo vitae pulvinar. Duis
        sollicitudin nulla eget lorem.
      </p>
    </div>
  </div>
</section>
