---
import ProjectCarousel from "~/components/common/ProjectCarousel";
---

<section class="my-80">
  <div class="w-full">
    <h2 class="text-2xl font-semibold mb-4 text-center">Featured Projects</h2>
    <div>
      <ProjectCarousel client:visible />
    </div>
  </div>
</section>
