---
import SkillTree from "../common/SkillTree";
---

<section class="my-20">
  <div
    class="w-full intersect-once intersect-quarter motion-safe:opacity-0 motion-safe:intersect:animate-fade"
  >
    <h2 class="text-2xl font-semibold mb-4 text-center">Skills</h2>
    <SkillTree client:only="react" />
  </div>
</section>
