---
import Layout from "../layouts/Layout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Introduction from "~/components/widgets/Introduction.astro";
import Projects from "~/components/widgets/Projects.astro";
import Skills from "~/components/widgets/Skills.astro";
import SkillReveal from "~/components/common/SkillReveal.tsx";
---

<Layout>
  <Hero />
  <!-- <Introduction />
  <Projects /> -->
  <!-- <Skills /> -->
  <SkillReveal client:only="react" />
  <section class="h-screen bg-blue-50"></section>
</Layout>
