---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center">
  <Icon name="tabler:home" class="w-5 h-5 text-gray-900 dark:text-white" />
  <span
    class="ml-1 rtl:ml-0 rtl:mr-1 text-xl md:text-lg font-bold text-gray-900 whitespace-nowrap dark:text-white"
  >
    Home
  </span>
</div>
