---
import { getAsset } from "~/utils/permalinks";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" href="/favicon.png" type="image/png" sizes="32x32" />

<link rel="sitemap" href={getAsset("/sitemap-index.xml")} />
<meta
  name="description"
  content="Welcome to my Astro portfolio, where you can find information about my work and projects."
/>

<title>Sami Kuikka - Full-Stack Engineer</title>
