---
import '~/assets/styles/tailwind.css';

import CommonMeta from '~/components/common/CommonMeta.astro';
import CustomStyles from '~/components/CustomStyles.astro';
import ApplyColorMode from '~/components/common/ApplyColorMode.astro';
import BasicScripts from '~/components/common/BasicScripts.astro';

// Comment the line below to disable View Transitions
import { ClientRouter } from 'astro:transitions';

---

<!doctype html>
<html class="2xl:text-[20px]">
  <head>
    <CommonMeta />
    <CustomStyles />
    <ApplyColorMode />

    <!-- Comment the line below to disable View Transitions -->
    <ClientRouter fallback="swap" />
  </head>

  <body class="antialiased text-default bg-page tracking-tight">
    <slot />

    <BasicScripts />
  </body>
</html>
